html,
body,
#game {
  height: 100%;
  margin: 0;
}

body {
  background: #101010;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
}

.popup-container {
  position: relative;
  top: -50%;
  left: -50%;
}

.popup-title {
  flex: 1;
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  margin: 10px;
}

.popup-caption {
  color: #fff;
  font-size: 20px;
  margin: 10px;
}

.popup-content {
  flex: 5;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.popup-bottom {
  flex: 1;
}

.popup-button {
  padding: 10px;
  background: rgb(255 255 255 / 20%);
  cursor: pointer;
  border: 1px solid #fff;
}

#dashboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#list-container {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  width: 100%;
  height: 98vh;
}

#game-list-menu {
  display: flex;
}
#no-game-title {
  display: none;
}
#no-game-title.show {
  display: block;
}

#game-list-container {
  color: #fff;
  flex: 3;
  display: flex;
  margin: 0px 10px 0px 10px;
}

#player-list {
  color: #fff;
  flex: 1;
}

#game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vh;
  height: 2vh;
}

.header-title {
  color: #847474;
}

.header-value {
  color: #fff;
}

#gameborad {
  border: 0;
  padding: 0;
  outline: none;
  background: #231f20;

  width: 96vh;
  height: 96vh;
}

#menu {
  display: flex;
  flex-direction: row;
  height: 2vh;
}

.menu-button {
  background: #ffffff;
  cursor: pointer;
  color: #000;
  padding: 2px;
  margin: 2px;
  border-radius: 3px;
  font-size: 10px;
  line-height: 9px;
}

#addai {
  display: block;
}
#addai.inactive {
  display: none;
}

#respawn {
  display: none;
}
#respawn.active {
  display: block;
}

#end-game-notification-popup {
  display: none;
}
#end-game-notification-popup.active {
  display: block;
}
#end-game-notification-conatainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  top: -45%;
  left: -45%;
  background: rgb(17 17 17 / 50%);
}
.winner-text {
  color: yellow;
  font-size: 60px;
}
